/* ------------------------------------------------------------------------ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------------------------------------------------------ */
body{
  overflow: hidden;
}
.wrapper {
  margin-top: 20px;
  min-height: 100%;    
  width: 100%;
  display: grid;
  grid-template: 70px 50px / 1fr;
  row-gap: 10px;
}

.calculation-area {
  border: 1px solid;
  width: 70%;
  justify-self: center;
  margin: 15px;
  padding-left: 15px;
}

.btn__container {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  column-gap: 10px;
}

.submit-btn {
  border: 1px solid;
  margin: 3px;
  margin-left: 10px;
}

.clear-btn {
  border: 1px solid;
  margin: 3px;
  margin-right: 10px;
}

.submit-btn:hover {
  border: 1px solid blue;
  transition-duration: .3s;
}

.clear-btn:hover {
  border: 1px solid blue;
  transition-duration: .3s;
}